.advantage {
padding: 125px 0 0;
}

.advantage__list {
  list-style: none;

  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 80px;
  width: 85%;
}

.advantage__list-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
}

.advantage__list-item:nth-child(3n+1), .advantage__list-item:nth-child(3n+2) {
  grid-column: auto / span 2;
}

.advantage__image {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.advantage__image_form {
  background-image: url('../../images/advantage/form.svg');
  width: 100px;
  height: 70px;
}

.advantage__image_life-time {
  background-image: url('../../images/advantage/life-time.svg');
  width: 130px;
  height: 75px;
}

.advantage__image_moisture-resistance {
  background-image: url('../../images/advantage/moisture-resistance.svg');
  width: 130px;
  height: 75px;
}

.advantage__image_maintainability {
  background-image: url('../../images/advantage/maintainability.svg');
  width: 130px;
  height: 80px;
}

.advantage__image_practicality {
  background-image: url('../../images/advantage/practicality.svg');
  width: 130px;
  height: 105px;
}

.advantage__text {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.05em;
  padding: 5px 0 0;
  color: rgba(252, 252, 252, 0.7);
}

.advantage__first {
  display: flex;
  justify-content: space-around;
}

.advantage__second {
  display: flex;
  justify-content: space-between;
  padding: 88px 315px 0;
}

.advantage__list-item:hover  .advantage__text{
  color: rgba(252, 252, 252, 1);
}

.advantage__list-item:hover  .advantage__image_form{
  background-image: url('../../images/advantage/form_gold.svg');
}
.advantage__list-item:hover  .advantage__image_life-time{
  background-image: url('../../images/advantage/life-time_gold.svg');
}
.advantage__list-item:hover  .advantage__image_moisture-resistance{
  background-image: url('../../images/advantage/moisture-resistance_gold.svg');
}
.advantage__list-item:hover  .advantage__image_maintainability{
  background-image: url('../../images/advantage/maintainability_gold.svg');
}
.advantage__list-item:hover  .advantage__image_practicality{
  background-image: url('../../images/advantage/practicality_gold.svg');
}

